* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    margin-top: 1em;
    text-decoration: none;
    font-size: smaller;
}

a:hover,
a:focus{
    text-transform: uppercase;
}

body {
    font-family: 'Montserrat', sans-serif; 
    font-variant-position: 1em/1;
    background: rgba(255, 255, 200, .5);
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: .65em;
    padding: 2em;
}

main{
    max-width:130.5em;
    display:block;
    align-items: center;
}

#grid-container {
    display: grid;
    grid-template-columns: [linhas] 1.5em repeat(18, 7em) [camadas] 1em;
    grid-gap: .25em;
}

.row-span2 {
    grid-row: span 2;
}

.col-span16 {
    grid-column: span 16;
}

.col-span10 {
    grid-column: span 10;
}

.col-span2 {
    grid-column: span 2;
}

/* .Dist {
            font-family: Arial;
            font-size: 7px;
            font-weight: bold;
            color: black;
            width: 9px;
            word-wrap: break-word;
            white-space: normal;
            float: right;
            justify-self: right;
            padding-right: 2px;
        } */

.col-hidden {
    display: block;
    visibility: hidden;
}

section {
    margin: 0;
    height:7em;
	background:rgb(0, 0, 0);	
	border:.15rem solid;
    border-radius:.25rem;
    border-color: black;
	line-height:1;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

section:not(.mark):not(.example):hover{
    transition: .2s;
    transform: scale(1.5);
    border:.175rem solid;
    cursor: auto;
    z-index: 2;
}

h1 {
    margin: .5em 0;
    font-size: calc(3vw + 2rem);
    font-weight: 100;
    text-transform: uppercase;
}

h2 {
    margin-top: .5em;
    font-size: large;
}

h3 {
    bottom: 0;
}

span{
	font-size:.85em;
	position:absolute;
	top:.3em;
	left:.5em;	
}

/* .massa {
    font-size: .8em;
    bottom: .3em;
}  */

.distribuicao{
    position: absolute;
    right: .1em;
    font-size:.75em;
}

.camadas {
    position: relative;
    left: .1em;
    font-size: .75em;
    color: rgb(133, 99, 99);
}

.mark{
    background-color: rgba(255, 255, 200, .6);
    border: none;
}

.example {
    background-color: white;
    transform: scale(2);
    position: relative;
    top: 2.1rem;
    left: 2rem;
}

.linha1{
    border-top: .125rem solid;
}
.linha{
    text-align: left;
    border-bottom: .125rem solid;
    border-radius: 0%;
    border-color: lightgray;
    margin-right: 80%;
    width: fit-content;
    margin-bottom: auto;
}

.coluna1{
    border-left: .125rem solid;
}

.coluna{
    border-right: .125rem solid;
    border-radius: 0%;
    border-color: lightgray;
    margin-top: 80%;
    height: fit-content;
    margin-bottom: auto;
}

.familia{
    margin-top: 85%;
    height: auto;
    z-index: -1;
}

legend {
    margin-top: 10rem;
    margin-left: 20rem;
    position: absolute;
    z-index: 2;
    font-size: .8em;
    text-align: left;
    flex-basis: 13.5rem;
}

tbody {
    top: 1em;
    display: inline-block;
    justify-content: center;
}

th{
    text-align: center;
    text-transform: uppercase;
}
th, td{
    font-weight: bold;
    padding: 1em;
    width: min-content;
}

.margin-top1{
    margin-top: 1rem;
}

/* Crio a box vazia antes do nome da classe */

.box{
    content: " ";
    text-align: center;
    display: inline-block;
    width: auto;
    min-width: 1.5em;
    height: auto;
    line-height: 1.5em;
    min-height: 1.5em;
    border: .125em solid;
    border-radius: .125rem;
    margin-right: .5em;
    position: relative;
    top: .23em;
    font-size: auto;
    font-style: normal;
}



/* td:before {
    content: attr(sign);
    text-align: center;
    display: inline-block;
    width: auto;
    min-width: 1.25em;
    height: 100%;
    min-height: 1.25em;
    border: .125em solid;
    border-radius: .125rem;
    margin-right: .5em;
    position: relative;
    top: .23em;
} */


/* Classes elementares */

.nao-metal{
    background-image: radial-gradient(rgba(185, 221, 87), rgba(180, 210, 100, 0.7));
}

.gas-nobre {
    background-image: radial-gradient(rgba(100, 180, 225, 1), rgba(100, 180, 225, 0.7));
}

.metal-alcalino {
    background-image: radial-gradient(rgba(245, 200, 100, 1), rgba(245, 200, 100, 0.7));
}

.metal-alcalino-terroso {
    background-image: radial-gradient(rgba(240, 230, 90, 1), rgba(240, 230, 90, 0.7));
}

.semimetal {
    background-image: radial-gradient(rgba(110, 200, 190, 1), rgba(110, 200, 190, 0.7));
}

/* .semimetal:hover ~ .semimetal{
    background-color: red;
} */

.halogenio {
    /* background-color: rgba(170, 225, 255); */
    background-image: radial-gradient( rgba(170, 225, 255,1), rgba(170, 225, 255, 0.7));
}

.outros-metais {
    background-image: radial-gradient(rgba(190, 210, 210, 1), rgba(190, 210, 210, 0.7));
}

.metal-transicao {
    background-image: radial-gradient(rgba(245, 175, 175, 1), rgba(245, 175, 175, 0.7));
}

.lantanideo {
    background-image: radial-gradient(rgba(150, 225, 225, 1), rgba(150, 225, 225, 0.7));
}

.actinidio {
    background-image: radial-gradient(rgba(230, 190, 220, 1), rgba(230, 190, 220, 0.7));
}

/* Estado do elemento na natureza */

.solido{
    color: black;
}

.liquido{
    color: red;
}

.gasoso{
    color: blue;
}

.desconhecido{
    color: rgb(26, 136, 35);
}